<h3 class="title">检测</h3>
<div class="layui-row">
    <div class="layui-col-xs8">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="layui-form-item">
                    <label class="layui-form-label">车辆型号</label>
                    <div class="layui-input-block" style="padding-top: 9px;">
                        <div class="space"></div>
                        <input type="radio" name="dtuType" value="{{dtuType}}" ng-click="setConfig(0)">&nbsp;J6
                        <div class="space"></div>
                        <input type="radio" name="dtuType" value="{{dtuType}}" ng-click="setConfig(2)">&nbsp;J6压缩天然气
                        <div class="space"></div>
                        <input type="radio" name="dtuType" value="{{dtuType}}" ng-click="setConfig(1)">&nbsp;J7
                    </div>
                </div>
            </div>
            <div class="layui-col-xs12" style="margin-bottom: 10px;">
                <button class="layui-btn" ng-class="{'layui-btn-disabled':isStart}" ng-disabled="isStart"
                        ng-click="startCheck()">开始检测
                </button>
                <button class="layui-btn" ng-class="{'layui-btn-disabled':!isStart}" ng-disabled="!isStart"
                        ng-click="stopCheck()">停止检测
                </button>
                <span class="space"></span>
                <span>开始时间：{{timeStart|date:'yyyy-MM-dd HH:mm:ss'}}<span class="space"></span>结束时间：{{timeEnd|date:'yyyy-MM-dd HH:mm:ss'}}<span
                        class="space"></span>计时：{{timeSeconds}}</span>
            </div>
            <div class="layui-col-xs12" style="margin-bottom: 10px;" ng-if="isStart">
                数据刷新时间：{{timeRefresh|date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
            <div class="layui-col-xs12">
                <blockquote class="layui-elem-quote layui-quote-nm" ng-repeat="d in dataList">
                    <div class="layui-row">
                        <div class="layui-col-xs3">
                            {{d.vin}}
                        </div>
                        <div class="layui-col-xs6">
                            <div style="display: inline;">
                                定位状态：
                                <i ng-if="d.isLocate" class="layui-icon layui-icon-ok-circle green"></i>
                                <i ng-if="!d.isLocate" class="layui-icon layui-icon-close-fill red"></i>
                                <span class="space"></span>
                            </div>
                            <div style="display: inline;">
                                超时检测：
                                <i ng-if="d.isInTime" class="layui-icon layui-icon-ok-circle green"></i>
                                <i ng-if="!d.isInTime" class="layui-icon layui-icon-close-fill red"></i>
                                <span class="space"></span>
                            </div>
                            <div style="display: inline;">
                                转速：
                                <i ng-if="d.isSpeed" class="layui-icon layui-icon-ok-circle green"></i>
                                <i ng-if="!d.isSpeed" class="layui-icon layui-icon-close-fill red"></i>
                                <span class="space"></span>
                            </div>
                            <div style="display: inline;" ng-if="dtuType==1||dtuType==2">
                                扭矩：
                                <i ng-if="d.isTorque" class="layui-icon layui-icon-ok-circle green"></i>
                                <i ng-if="!d.isTorque" class="layui-icon layui-icon-close-fill red"></i>
                            </div>
                            <div style="display: inline;" ng-if="dtuType==2">
                                油箱液位：
                                <i ng-if="d.isOil" class="layui-icon layui-icon-ok-circle green"></i>
                                <i ng-if="!d.isOil" class="layui-icon layui-icon-close-fill red"></i>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <span ng-if="d.result" class="layui-badge layui-bg-green">通过</span>
                            <span ng-if="!d.result" class="layui-badge">失败</span>
                            <span class="space"></span>
                            <span style="cursor: pointer;" ng-click="showListModal(d)">查看数据({{d.count}}条)</span>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="layui-col-xs4">
        <div class="layui-row">
            <div class="layui-col-xs10 layui-col-xs-offset2">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>待检VIN（使用逗号,分隔）</legend>
                </fieldset>
            </div>
            <div class="layui-col-xs12">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label fix-form-label">VIN</label>
                        <div class="layui-input-block fix-form-input">
                            <textarea placeholder="例：LF000000000000001,LF000000000000002,LF000000000000003"
                                      class="layui-textarea" ng-model="vinStr" ng-change="vinVerify()"></textarea>
                            <p ng-if="vinError" style="color:red;">格式错误，请核对</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs10 layui-col-xs-offset2">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>配置
                        <i class="layui-icon layui-icon-set-fill" style="cursor: pointer;"
                           ng-click="showPasswordModal()"></i>
                        <i class="layui-icon layui-icon-ok" style="cursor: pointer;" ng-click="updateConfig()"
                           ng-if="configEditable"></i>
                    </legend>
                </fieldset>
            </div>
            <div class="layui-col-xs12">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label fix-form-label">超时时间(s)</label>
                        <div class="layui-input-block fix-form-input">
                            <input type="text" class="layui-input" ng-model="config.inTime"
                                   ng-disabled="!configEditable">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label fix-form-label">发动机转速(r/min)</label>
                        <div class="layui-input-block fix-form-input">
                            <input type="text" class="layui-input" ng-model="config.engineSpeed"
                                   ng-disabled="!configEditable">
                        </div>
                    </div>
                    <div class="layui-form-item" ng-if="dtuType==1">
                        <label class="layui-form-label fix-form-label">摩擦扭矩(N·m)</label>
                        <div class="layui-input-block fix-form-input">
                            <input type="text" class="layui-input" ng-model="config.frictionTorque"
                                   ng-disabled="!configEditable">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-box">
    <div class="modal" id="listModal">
        <div class="layui-row">
            <div class="layui-col-xs12 modal-scroll">
                <blockquote class="layui-elem-quote layui-quote-nm" ng-repeat="d in subDataList">
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            时间：{{d.time|date:'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                        <div class="layui-col-xs3">
                            定位：{{d.location}}
                        </div>
                        <div class="layui-col-xs2">
                            转速：{{d.speed}}
                        </div>
                        <div class="layui-col-xs2" ng-if="dtuType==1">
                            扭矩：{{d.torque}}
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="modal" id="passwordModal">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">管理员密码</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" ng-model="password">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="confirmPassword()">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>