<h3 class="title">拍照检测</h3>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">在线车辆</label>
        <div class="layui-input-inline">
            <select class="layui-select" ng-options="p.id as p.name for p in onlineDeviceList"
                    ng-model="searchModel.dtuNo"></select>
        </div>
        <button class="layui-btn" ng-click="getOnlineDevices()">
            <i class="layui-icon layui-icon-refresh"></i>
            刷新在线车辆
        </button>
        <button class="layui-btn" ng-click="takePicture()">
            <i class="layui-icon layui-icon-camera"></i>
            拍照
        </button>
        <button class="layui-btn" ng-click="stop()">
            <i class="layui-icon layui-icon-radio"></i>
            停止
        </button>
    </div>
</div>
<table class="layui-table">
    <thead>
    <tr>
        <th>序号</th>
        <th>时间</th>
        <th>数据</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="l in list">
        <td>{{$index+1}}</td>
        <td>{{l.aaa}}</td>
        <td>{{l.bbb}}</td>
    </tr>
    </tbody>
</table>