<h3 class="title">生成ID</h3>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">日期</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="date" ng-model="pageModel.date">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">终端类型</label>
        <div class="layui-input-inline">
            <select class="layui-select" ng-options="p.id as p.type for p in deviceTypeList"
                    ng-model="pageModel.type"></select>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">小型号</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" ng-model="pageModel.subType">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">3C代码</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" ng-model="pageModel.c3">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">起始编号</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" ng-model="pageModel.positon">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">生成数量</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" ng-model="pageModel.count">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label"></label>
        <button class="layui-btn" ng-click="createIds()">生成</button>
        <button class="layui-btn" ng-click="exportIds()">导出</button>
    </div>
</div>
<table class="layui-table">
    <thead>
    <tr>
        <th>序号</th>
        <th>时间</th>
        <th>数据</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="l in list">
        <td>{{$index+1}}</td>
        <td>{{l.id}}</td>
        <td>{{l.name}}</td>
    </tr>
    </tbody>
</table>