<h3 class="title">检测</h3>
<div class="layui-row">
    <div class="layui-col-xs8">
        <div class="layui-row">
            <div class="layui-col-xs12" style="margin-bottom: 10px;">
                <button class="layui-btn" ng-click="startCheck()">开始检测</button>
                <button class="layui-btn" ng-click="stopCheck()">停止检测</button>
            </div>
            <div class="layui-col-xs12">
                <blockquote class="layui-elem-quote layui-quote-nm" ng-repeat="d in dataList">
                    <div class="layui-row">
                        <div class="layui-col-xs3">
                            VIN：{{d.vin}}
                        </div>
                        <div class="layui-col-xs6">
                            定位：
                            <i ng-if="d.isLocate" class="layui-icon layui-icon-ok-circle green"></i>
                            <i ng-if="!d.isLocate" class="layui-icon layui-icon-close-fill red"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            转速：
                            <i ng-if="d.isSpeed" class="layui-icon layui-icon-ok-circle green"></i>
                            <i ng-if="!d.isSpeed" class="layui-icon layui-icon-close-fill red"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            间隔：
                            <i ng-if="d.isInterval" class="layui-icon layui-icon-ok-circle green"></i>
                            <i ng-if="!d.isInterval" class="layui-icon layui-icon-close-fill red"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            超时：
                            <i ng-if="!d.isOverTime" class="layui-icon layui-icon-ok-circle green"></i>
                            <i ng-if="d.isOverTime" class="layui-icon layui-icon-close-fill red"></i>
                        </div>
                        <div class="layui-col-xs3">
                            <span ng-if="d.result" class="layui-badge layui-bg-green">通过</span>
                            <span ng-if="!d.result" class="layui-badge">失败</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="cursor: pointer;" ng-click="showList(d)">查看数据({{d.count}}条)</span>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="layui-col-xs4">
        <div class="layui-row">
            <div class="layui-col-xs10 layui-col-xs-offset2">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>待检VIN（使用逗号分隔）</legend>
                </fieldset>
            </div>
            <div class="layui-col-xs12">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">VIN</label>
                        <div class="layui-input-block">
                            <textarea placeholder="例：LF000000000000001,LF000000000000002,LF000000000000003"
                                      class="layui-textarea" ng-model="config.vins" ng-change="vinVerify()"></textarea>
                            <p ng-if="vinError" style="color:red;">格式错误，请核对</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs10 layui-col-xs-offset2">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>配置</legend>
                </fieldset>
            </div>
            <div class="layui-col-xs12">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">转速</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" ng-model="config.speed">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">超时</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" ng-model="config.overTime">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-box">
    <div class="modal" id="listModal">
        <div class="layui-row">
            <div class="layui-col-xs12 modal-scroll">
                <blockquote class="layui-elem-quote layui-quote-nm" ng-repeat="d in subDataList">
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            时间：{{d.time|date:'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                        <div class="layui-col-xs5">
                            经纬度：{{d.lng}}&nbsp;,&nbsp;{{d.lat}}
                        </div>
                        <div class="layui-col-xs3">
                            转速：{{d.speed}}
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>